{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block content %}{{block.super}}
    <!-- Add codename value into the request -->
    <script type="text/javascript">
        // django jquery library
        var djq = django.jQuery,
        add_id_gallery = djq('#add_id_gallery');

        add_id_gallery.removeAttr('onclick');
        var base_href = add_id_gallery.attr('href') + '?id_codename=';

        add_id_gallery.click(function(e){
            djq(this).attr('href', base_href + djq('#id_codename').val());
            return showAddAnotherPopup(djq(this).get(0));
        });
    </script>
{% endblock %}